
body {
	margin: 0;
	font-family: "Lato", sans-serif;
}


.first {
	background-color: black;
	height: 50px;
}

.first ul {
	margin: 0;
	list-style: none;
	width: max-content;
	height: max-content;
}

.first ul li {
	float: left;
}

.first ul li a {
	font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px 24px;
    display: block;
    line-height: 1.5;
}

.search-icon {
	color: white;
	float: right;
	display: block;
}

.icon-header {
	position: absolute;
    right: 20px;
    top: 15px;
}


/*dropdown*/

.dropdown {
	display: none;
}

.open-dropdown:hover .dropdown {
	display: block;
}

.dropdown ul {
	position: absolute;
	text-align: left;
	background-color: black
}

